.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.constructor {
  composes: list;
  max-height: 620px;
}

.ingredients {
  height: 70%;
  overflow-y: auto;
}

.bun {
  display: flex;
  justify-content: end;
}

.ingredient {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.purchase {
  display: flex;
  justify-content: end;
  align-items: center;
}

.total {
  display: flex;
  align-items: center;
}
