.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f2f2f3;
}

.id {
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.status {
  width: 120px;
  height: 120px;
  background-image: url("../../images/done.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
