.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 480px;
  height: 240px;
  object-fit: cover;
  object-position: center;
}

.nutrients {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.nutrient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
